<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-3">
        <h2>listing of <%= Listing.name %></h2>
        </div>
        <div class="card col-6 offset-3 show-card">
            <img src="<%= Listing.image %>" alt="Listing image" class="card img-top show-img">
            <div class="card-body"> 
                <p class="card-text"><b><%= Listing.name %></b><br> 
                    by the <b><i><%= Listing.owner.username %></i></b>  <br>
                    <%= Listing.description %> <br> 
                    &#8377 <%= Listing.price.toLocaleString("en-IN") %> <br>
                    <%= Listing.category %> <br>
                    <%= Listing.availability %> <br>
                </p>
            </div>
        </div>
</div>

<% if(currUser && currUser._id.equals(Listing.owner._id)) { %>
<div class="btns mb-3">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3">Edit</a>
    <form action="/listings/<%= listing._id %>/?_method=delete" method="post" class="col-3 offset-1" >
        <button class="btn btn-dark col-4">delete</button>
    </form>
</div>
<% } %>
    
