<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-3">
        <h2> <%= Chef.kitchenName %></h2>
    </div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%= Chef.image %>" alt="" class="card img-top show-img">
        <div class="card-body">
            <p class="card-text"><b><%= Chef.kitchenName %></b> <br>
                By <b><%= Chef.OwnerName %></b> <br>
                <%= Chef.address %> <br>
                <%= Chef.foodType %> <br>
                having experience of <%= Chef.experience %> Years 
            </p>
        </div>
    </div>
</div>